<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/assets/bootstrap-5.0.2/css/bootstrap.min.css">
    <script src="public/assets/bootstrap-5.0.2/js/bootstrap.min.js"></script>
    <script src="public/assets/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
</head>
<style>
    .container-fluid {
        background-color: #ebf4ff;
    }

    .list-group-item {
        border: none;
        padding-left: 0px;
    }

    .fs-30 {
        font-size: 70px;
    }
</style>

<body>
    <div class="container-fluid">
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="container-fluid px-0">
                        <!-- offcanvas -->
                        <button class="btn btn-primary d-lg-none" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasMain" aria-controls="offcanvasMain"><i class="fa fa-bars"
                                aria-hidden="true"></i></button>
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMain"
                            aria-labelledby="offcanvasMain">
                            <div class="offcanvas-header">
                                <a class="d-flex align-items-center text-decoration-none" href="#">
                                    <i class="fa fa-leanpub fa-2x" aria-hidden="true"></i>
                                    <h5 class="offcanvas-title" id="offcanvasMain">Learning</h5>
                                </a>
                                </h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body pt-0">
                                <ul class="list-group">
                                    <li class="list-group-item"><a class="text-decoration-none text-dark fs-5"
                                            href="home">Home</a></li>
                                    <li class="list-group-item"><a class="text-decoration-none text-dark fs-5"
                                            href="course">Course</a></li>
                                    <li class="list-group-item"><a class="text-decoration-none text-dark fs-5"
                                            href="timonial">Timonial</a></li>
                                    <li class="list-group-item"><a class="text-decoration-none text-dark fs-5"
                                            href="service">Service</a></li>
                                    <li class="list-group-item"><a class="text-decoration-none text-dark fs-5"
                                            href="contact">Contact</a></li>
                                    <li class="list-group-item d-flex justify-content-center ">
                                        <a href="/login">
                                            <button
                                                class=" btn btn-link text-decoration-none btn-outline-secondary fs-5">Login</button>
                                        </a>
                                        <a href="/sigup">
                                            <button
                                                class=" btn btn-primary text-decoration-none text-white btn-outline-secondary fs-5">Register</button>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <!-- End offcanvas -->
                        <a class="d-flex align-items-center text-decoration-none" href="#">
                            <i class="fa fa-leanpub fa-2x" aria-hidden="true"></i>
                            <h5 class="offcanvas-title ms-1 text-dark text-uppercase" id="offcanvasMain">Learning</h5>
                        </a>
                        <div class="collapse navbar-collapse d-flex justify-content-end d-none d-lg-flex ">
                            <ul class="navbar-nav d-flex align-items-center ">
                                <li class="nav-item">
                                    <a class="nav-link ">
                                        <h5 class="mb-0">Home</h5>
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link ">
                                        <h5 class="mb-0">Course</h5>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link ">
                                        <h5 class="mb-0">Service</h5>
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link ">
                                        <h5 class="mb-0">Testimonial</h5>
                                    </a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link ">
                                        <h5 class="mb-0">Contact</h5>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link">
                                        <button
                                            class="btn btn-link btn-outline-secondary text-decoration-none">Login</button>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">
                                        <button
                                            class="btn btn-primary text-white btn-outline-secondary text-decoration-none">Register</button>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div class="container">
                <section id="home">
                    <div class="row justify-content-between mt-5">
                        <div class="col-lg-6 ">
                            <h1 class="fs-30">Learn more and make succsess the result</h1>
                        </div>
                        <div class="col-lg-4">
                            <p class="badge bg-white text-primary">-The best E-learning Platform</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s,</p>
                            <button class="btn btn-primary py-2 px-4 ">Show all Courses</button>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-10">
                            <div class="ratio ratio-16x9">
                                <iframe width="942" height="530" src="https://www.youtube.com/embed/LanDldRuZTM"
                                    title="Hybrid và Lexus LS 500h: &quot;Thức mĩ vị&quot; của giới nhà giàu? |XEHAY.VN|"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-lg-2  d-lg-flex flex-lg-column justify-content-lg-around d-flex justify-content-md-around ">
                            <div class="text-center">
                                <h1 class="text-primary fw-bold">15+</h1>
                                <p class="text-muted">Total branches opened in last year</p>
                            </div>
                            <div class="text-center">
                                <h1 class="text-primary fw-bold">15+</h1>
                                <p class="text-muted">Total branches opened in last year</p>
                            </div>
                            <div class="text-center">
                                <h1 class="text-primary fw-bold">15+</h1>
                                <p class="text-muted">Total branches opened in last year</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="course">
                    <div class="row my-5">
                        <div class=" col-6 d-block mx-auto text-center">
                            <h1>Our Featured Courses</h1>
                            <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </section>
            </div>
        </main>
        <footer></footer>
    </div>

</body>

</html>