@media only screen and (min-width: 530px){
  .col-11{
    width:91.66%;
    float: left;
  }
  .col-1{
    width:8.33%;
    float: left;
  }
  .col-12{
    width:100%;
    float: left;
  }
}
@media only screen and (min-width: 730px){
  .col-mb-9{
    width: 75%;
    float: left;
  }
  .col-mb-3{
    width:25%;
    float: left;
  }
  .col-mb-4{
    width:33.33%;
    float: left;
  }
  .col-mb-8{
    width: 66.66%;
    float: left;
  }
  .col-mb-12{
    width: 100%;
    float: left;
  }

}

@media only screen and (min-width: 1001px){
  .col-lg-6 {
    width: 50%;
    float: left;
 
  }
  .col-lg-2 {
    width: 16.66%;
    float: left;
  }
  .col-lg-8 {
    width: 66.66%;
    float: left;
  }
}

body{
  margin: 0;
}

header, footer{
box-sizing: border-box;
  display: inline-block;
  width: 100%;
  background-color: black;
 line-height: 50px;
 padding-left: 20px;
 padding-right: 30px;
 clear: both;
}

.menu a{
  color:white;
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
}
.login {
 text-align: end;
}
.login a{
  color: white;
  text-decoration: none;
  font-size: 18px;
}


main{
  margin-top: -4px;
}
.row{
  width: 100%;
  display: inline-block;
  clear: both;
  background-color: #aaaaaa;
}

.sidebar-link a{
  text-decoration: none;
  text-align: center;
}
.sidebar-link a li{
  margin-bottom: 10px;
}

.sidebar-link {
    padding-top: 30px;
    padding-bottom: 30px;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}


.content{
  background-color: white;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  height: 80vh;
}

.right-sidebar{
  text-align: center;
}
.right-sidebar button{
margin-top: 20px;
padding: 30px 30px;
width: 80%;
margin-left: auto;
margin-right: auto;
}

footer{
  color: white;
  text-align: center;
}


